img {
    width: 100%
}

.countryFlag {
    width: 20%
}

 .default {
     color: hotpink;
 }

.blue {
    color: cornflowerblue;
}

.green {
    color: seagreen;
}

.yellow {
    color: sandybrown;
}
.purple {
    color: mediumpurple;
}
.red {
    color: darkred;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

button {
    margin: 50px;
    width: 100px;
    color: hotpink;
}